/**
 //* Typography Styles
 */
body {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
}

//Application Styles

.heading-degrees {
  font-size: 7rem;
  color: $color-black;
  font-weight: 300;
  margin-left: 2rem;
}

.heading-secondary {
  font-size: 2rem;
  color: $color-white;
  font-weight: 300;
  margin-bottom: 1rem;
}

.paragraph-primary {
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 1rem;
  background: $color-blue-dark;
  padding: 0.4rem 1rem;
  color: $color-white;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-top: 1.2rem;

  &--condition {
    background: none;
    color: $color-black;
    font-weight: 600;
  }
}

.paragraph-secondary {
  font-size: 1.5rem;
  background: none;
  color: $color-black;
  font-weight: 700;
  // margin-bottom: 1.2rem;
}
.paragraph-max,
.paragraph-min {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.paragraph-dot {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0.5rem;
}

//Clock Styles

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 500;
}
.heading-location {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1rem 0 0.2rem 0;
}
.paragraph-tertiary {
  font-size: 1.2rem;
}
//Location individual
.heading-location-degrees {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
}
