//Styles for the Main Application
.application {
  height: 100%;
  width: 100%;
  position: relative;
  &__top {
    height: 70%;
    background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__input-container {
    width: 95%;
    height: 20%;
    margin-left: -2rem;
  }
  &__form {
    height: 100%;
  }
  &__input {
    font-size: 3rem;
    font-family: inherit;
    color: $color-white;
    padding: 1.5rem 2rem;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    height: 100%;
    width: 50%;
    outline: none;

    &::placeholder {
      color: inherit;
      font-size: inherit;
      opacity: 0.7;
    }
  }
  &__search-container {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15rem;
  }
  &__search {
    background: #eee;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 12rem;

    & span {
      height: 2.5rem;
      width: 2.5rem;
      background: $color-blue-light;
      border-radius: 50%;
      margin: 0 0.7rem;

      &:nth-child(1) {
        animation: bounce 1s ease-in-out infinite;
      }
      &:nth-child(2) {
        animation: bounce 1s ease-in-out 0.33s infinite;
      }
      &:nth-child(3) {
        animation: bounce 1s ease-in-out 0.66s infinite;
      }
    }
  }
  &__location {
    align-self: flex-start;
    background: #ddd;
    width: 100%;
  }

  &__location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
  }

  &__time {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
  }
  &__clock {
    width: 4rem;
    height: 4rem;
  }
  &__navigation {
    display: flex;
    align-self: flex-start;
    height: 20%;
    width: 30%;
  }
  &__weather-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
  }
  &__latest-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
  }
  &__bottom {
    height: 30%;
    display: flex;
    justify-content: center;
  }
  &__b-left {
    width: 30%;
    height: 100%;
    display: flex;
    background: $color-white;
    border-bottom-left-radius: 1.2rem;
  }
  &__degrees {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__condition {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 8rem;
    height: 8rem;

    &--day {
      width: 6rem;
      height: 6rem;
    }
  }
  &__temperature {
    display: flex;
  }
  &__saved-icon {
    height: 5rem;
    margin-right: 1rem;
  }
  &__b-right {
    height: 100%;
    width: 70%;
    display: flex;
  }
  &__day-weather {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:not(:last-child) {
      border-right: 2px solid #eee;
    }
    &:first-child {
      border-left: 2px solid #eee;
    }
    &:last-child {
      border-bottom-right-radius: 1.2rem;
    }
  }
}
