//Styles for the Main Application
.application {
  height: 100%;
  width: 100%;
  position: relative;
  &__top {
    height: 70%;
    background-image: linear-gradient(to right bottom, $color-blue-light, $color-purple-dark);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__input-container {
    width: 95%;
    height: 20%;
    margin-left: 5rem;
  }
  &__form {
    height: 100%;
  }
  &__input {
    font-size: 3rem;
    font-family: inherit;
    color: $color-white;
    padding: 1.5rem 2rem;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    height: 100%;
    width: 50%;
    outline: none;

    &::placeholder {
      color: inherit;
      font-size: inherit;
      opacity: 0.7;
    }
  }
  &__time {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
  }
  &__clock {
    width: 5rem;
    height: 5rem;
  }
  &__navigation {
    display: flex;
    height: 20%;
    width: 30%;
  }
  &__weather-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
  }
  &__latest-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
  }
  &__bottom {
    height: 30%;
    display: flex;
  }
  &__b-left {
    width: 30%;
    height: 100%;
    display: flex;
    background: $color-white;
    border-bottom-left-radius: 1.2rem;
  }
  &__degrees {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__condition {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 8rem;
    height: 8rem;
  }
  &__b-right {
    height: 100%;
    width: 70%;
    display: flex;
  }
  &__day-weather {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:not(:last-child) {
      border-right: 2px solid #eee;
    }
    &:first-child {
      border-left: 2px solid #eee;
    }
    &:last-child {
      border-bottom-right-radius: 1.2rem;
    }
  }
}
