// -----------------------------------------------------------------------------
//* This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 100vh;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  //All Circles
  &__circle {
    border-radius: 10rem;
  }

  &__circle-blue {
    position: absolute;
    top: 2rem;
    left: 10rem;
    width: 15rem;
    height: 15rem;
    background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
  }
  //Pink Circle with one inside
  &__circle-pink {
    position: absolute;
    bottom: -4rem;
    left: -5rem;
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, $color-pink-light, $color-purple-dark);
  }
  &__circle-inner {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: $color-pink-light;
    opacity: 0.6;
    position: absolute;
  }
  //Ending of Pink Circle
  //Purple Circle with one inside
  &__circle-purple {
    position: absolute;
    right: 0;
    top: -4rem;
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, $color-purple-dark, $color-blue-light);
  }
  &__circle-inner2 {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: $color-pink-light;
    opacity: 0.6;
  }
  // Ending of Purple Circle

  //Start of the Application

  &__application {
    min-width: 100rem;
    height: 60rem;
    background: $color-white;
    border-radius: 1.2rem;
    margin-top: 10rem;
  }
}
