@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/reset", "base/animations";

// 4. Layout-related sections
@import "layout/header", "layout/footer";

// 5. Components
@import "components/button";

// 6. Page-specific styles
@import "pages/home";
