// -----------------------------------------------------------------------------
//* This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//* Fonts

//* Colors
$color-white: #fff;
$color-black: #000;
$color-background: #e9eaef;
$color-blue-light: #6491ef;
$color-blue-dark: #468af9;
$color-pink-light: #d29df1;
$color-purple-dark: #b46df4;
$color-purple-light: #aba6e4;

//* Breakpoints
